/* Navbar-Styling */

img.adisuyash {
  float: left;
  width: 40px;
  padding: 10px 15px;
}

.navbar {
  background-color: #000000;
  border-radius: 40px;
  position: fixed;
}

.navbar ul {
  overflow: auto;
}

a.navlinks {
  color: white;
}

a.navlinks:hover {
  color: rgb(66, 77, 230);
  text-decoration: none;
}

.navbar li {
  float: left;
  list-style: none;
  text-decoration: none;
  padding: 15px 15px;
}

.search {
  float: right;
  color: rgb(255, 255, 255);
  padding: 10px 95px 5px;
}

.navbar input {
  border-radius: 15px;
  height: 10px;
  width: 140px;
  margin-top: 6px;
  font-size: medium;
  padding: 13px 1px 5px 15px;
}

footer {
  display: flex;
  justify-content: center;
  overflow: auto;
}
